<!DOCTYPE html>
<html>
<head>
  <title>Log in</title>
  <link rel="stylesheet" href="/static/signup_login/style.css">

</head>
<body>
  <div class="auth-container">
    <h2>Log in</h2>
    <input type="text" placeholder="Email or username" id="loginEmail">
    <input type="password" placeholder="Password" id="loginPassword">
    <button class="btn-primary" onclick="login()">Log in</button>

    <hr>
    <p class="or-text">or</p>
    <div class="social-btns">
      <button class="social-btn">Google</button>
      <button class="social-btn">Facebook</button>
    </div>

    <div class="link">
      <a href="/signup">Don't have an account? Sign up</a>
    </div>
  </div>
  <script src="/static/signup_login/script.js"></script>
</body>
</html>
