<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
  <link rel="stylesheet" href="/static/signup_login/style.css">
</head>
<body>
  <div class="auth-container">
    <h2>Sign up</h2>
    <input type="text" placeholder="Email or username" id="signupEmail">
    <input type="password" placeholder="Create Password" id="signupPassword">
    <input type="password" placeholder="Confirm Password" id="signupConfirm">
    <button class="btn-primary" onclick="signup()">Sign up</button>

    <hr>
    <p class="or-text">or</p>
    <div class="social-btns">
      <button class="social-btn">Google</button>
      <button class="social-btn">Facebook</button>
    </div>

    <div class="link">
      <a href="/login">Already have an account? Log in here</a>
    </div>
  </div>
  <script src="/static/signup_login/script.js"></script>
</body>
</html>
